:root {
  font-family: Montserrat, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-color: #008DFF;
  --primary-lighter: #2699FB;
  --semi-black: #121212;
  --black: #000000;
  --background-color: #ffffff;
  --text-color: #040C36;
  --link-color: #007bff;
  --light-blue: #7fc4fd;
  --border-color: #dee2e6;
  --grey-light: #F0F2F7;
  --white: #FFFFFF;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

html {
  font-size: 16px;
  color: var(--text-color);
  font-family: Montserrat, sans-serif;
}

.container {
  max-width: 1400px;
  padding: 0 40px;
  margin: 0 auto;
}